
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model LoaiSP
<main id="main" class="main">
    <form asp-action="Delete" method="post">
        <h2 class="text-primary">Are you sure to delete category ?</h2>
        <hr />
        <input type="hidden" asp-for="IdLoaiSP" />
        <div class="form-group">
            <label class="mb-2">Id loại sản phẩm</label>
            <input asp-for="IdLoaiSP" disabled class="form-control" />
        </div>
        <div class="form-group">
            <label class="mb-2">Tên danh mục sản phẩm</label>
            <input asp-for="TenLoaiSP" disabled class="form-control mb-3" />
        </div>
        <div class="form-group">
            <label class="mb-2">Danh mục sản phẩm</label>
            <select asp-for="IdDanhMucSP" asp-items="@ViewBag.xListDanhMucSP" class="form-control mb-3">
            </select>
            <span asp-validation-for="IdDanhMucSP" class="text-danger"></span>
        </div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#disablebackdrop">
            <i class="bi bi-trash"></i> Delete
        </button>
        <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cảnh Báo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xóa danh mục này không
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"> Delete </button>
                    </div>
                </div>
            </div>
        </div>
        <a asp-action="Index" class="btn btn-secondary "> Back to List</a>
    </form>
</main>

