
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model DanhMucSP
    <main id="main" class="main">
        <form asp-action="Create" method="post">
            <h2>Thêm Danh mục sản phẩm</h2>
            <hr />
            <div class="form-group">
                <label class="mb-2">Id Danh mục sản phẩm</label>
                <input asp-for="IdDanhMucSP" class="form-control" />
                <span asp-validation-for="IdDanhMucSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="mb-2">Tên danh mục sản phẩm</label>
                <input asp-for="TenDanhMucSP" class="form-control mb-3" />
                <span asp-validation-for="TenDanhMucSP" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"> Save </button>
            <a asp-action="Index" class="btn btn-secondary"> Back To List</a>
        </form>
        <hr />
    <main>
