@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 col-md-offset-2" style="background:white;">
        <section>
            <div class="card-body">

                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                </div>

                <form id="account" method="post" class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                        <label for="yourUsername" class="form-label">Tên đăng nhập hoặc Email</label>
                        <div class="input-group has-validation">
                            <span asp-validation-for="Input.Email" class="input-group-text"  id="inputGroupPrepend"></span>
                            <input type="text" asp-for="Input.Email" class="form-control" id="yourUsername" required>
                            <div class="invalid-feedback">Please enter your username.</div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Mật khẩu</label>
                        <input class="form-control"  asp-for="Input.Password"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>


